
:root {
	--light-text-color: #e6e7f1;
	--transition-buttons: 0.3s;
}

.light-theme {
	--primary-color: #f3f3f8;
	--primary-color-hover: #ffffff;
	--secondary-color: #c1c4db;
	--tertiary-color: #e6e7f1;
	--accent-color: #505fd2;
	--accent-color-hover: #3c47a0;
	--primary-text-color: #131524;
	--secondary-text-color: #3d404e;
	--blue: #1A237E;
	--green: #1B5E20;
	--red: #B71C1C;
	--yellow-1: #F57F17;
	--yellow-2: #F9A825;
	--yellow-3: #FBC02D;
	--purple: #4527A0;
	--pink: #880E4F;
	--cyan: #00BCD4;
}

.dark-theme {
	--primary-color: #131524;
	--primary-color-hover: #000000;
	--secondary-color: #232742;
	--tertiary-color: #525569;
	--accent-color: #6b3dc7;
	--accent-color-hover: #5b2abd;
	--primary-text-color: #e6e7f1;
	--secondary-text-color: #c1c4db;
	--blue: #8C9EFF;
	--green: #B9F6CA;
	--red: #F44336;
	--yellow-1: #FF8F00;
	--yellow-2: #FFD740;
	--yellow-3: #FFE57F;
	--purple: #B388FF;
	--pink: #FF80AB;
	--cyan: #84FFFF;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
	margin-left: auto;
	margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.slider:before {
  position: absolute;
	content: "☀️";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  transition: 0.5s;
  border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1px;
}

.switch input + .slider {
  background-color: var(--accent-color);
}

.switch input:checked + .slider:before {
	content: "🌙";
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

* {
	margin: 0;
}

*:focus {
	outline: none;
}





.sidebar-container {
	width: 0;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--secondary-color);
	transition: var(--transition-buttons);
	height: 100%;
}
	
.sidebar {
	width: 0;
	height: 100%;
	background: inherit;
	transition: var(--transition-buttons);
	overflow-y: auto;
}

.sidebar-container:not(.visible) .sidebar > * {
	display: none;
}

.sidebar-container.visible {
	width: 300px;
	z-index: 3;
	/* box-shadow: 6px 0 7px 1px rgb(0 0 0 / 30%); */
	border-right: 1px solid var(--tertiary-color);
}

.sidebar-container.visible .sidebar {
	display: block;
	width: 300px;
}


.sidebar-container.visible #lineTop2 {
	transform: rotate(45deg);
	top: 5px;	
}

.sidebar-container.visible #lineBottom2 {
	transform: rotate(-45deg);
	bottom: 5px;
}
